/*BLOG*/

.wrapper-blog {
	min-height: 100%;
    height: 100%;
    margin: 0 auto -40px;}

.wrapper-blog .content{
	padding-top:90px;
	border-top:0;
	}

.wrapper-blog .left h1{font-size:1.7em}

.wrapper-blog .row h2{margin-top:5%}

.wrapper-blog .row h3{margin-top:4%}

.wrapper-blog .right h3 i{text-shadow:1px 1px 1px #bbb}

.wrapper-blog .row p:first-child{font-size:1.1em;font-style:italic;line-height:1.5em;margin-bottom:4%}

.wrapper-blog .right ul{list-style:none}
	
.left .top{
		margin:2% 0 1%
	}
	
.left .bottom{
	margin:1% 0 4%
	}

.wrapper-blog .title-page{display:none}

.wrapper-blog .about img{
	float:left;
	width:100px;
	height:100px;
	border-radius:50px;
	margin:0 10px 10px 0}
	
.wrapper-blog .about {text-align:left}

.subscribe,.subscribe li{display:inline-block;}

.subscribe{width:100%;margin:8px auto 0;text-align:center}

.subscribe li{margin:0 1% 20px}

.subscribe a{
	width:31%;
	color:#fff;
	width:inherit;
	padding:7px 9px;
	border-radius:2px
	}

.subscribe a:hover{
	background-color:#bbb
	}

.subscribe span{margin-left:5px;font-size:0.95em}


.feeds h4{display:block;background-color:#f5f5f5;padding:5px;border-radius:2px}
.feeds li{border-bottom:1px dotted #eee;padding:7px 5px;}
.feeds li a{line-height:22px}
.feeds li:hover{background-color:#f7f7f7;}


h2.index{margin-left:-7.2%}
h2.index a{display:inline-block;margin-left:6%;color:#333}

#blog-index div:nth-child(odd) h2{border-left:6px solid #04bd52}
#blog-index div:nth-child(even) h2{border-left:6px solid #2584d4}

.post-details{
	margin:0 0 4% 1%;width:100%
	}

.post-date{
	color:#999;
	font-size:0.8em;
	padding:4px 7px;
	border-radius:2px;
	}
	
.wrapper-blog .date{margin:2% 0 2% 1%;float:left;color:#999}

.wrapper-blog .tags{margin:2% 1% 2% 0;display:inline-block;float:right;color:#999}

.post-tags{font-size:0.8em}

.tags li span,.post-tags span{color:#999;font-size:0.9em}
.tags li span:before,.post-tags span:before{content:"("}
.tags li span:after,.post-tags span:after{content:")"}

.tags li,.post-tags li{border:1px solid #ddd;padding:3px 5px;font-size:0.9em;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.tags li:hover{background-color:#f5f5f5}
.post-tags ul{display:inline-block}
.post-tags li:after{content:" · "}
.post-tags li:last-child:after{content:""}

.post-read{text-align:right;float:right;margin:2% -4% 0 0}

.post-read a{border:1px dotted #d5d5d5;border-right:0;border-radius:2px 0 0 2px;padding:8px;color:#888}

.post-read a:hover{border:1px dashed #ccc;border-right:0;color:#555}.post-read a:hover i{color:orange}

a.blog-back{display:block;margin-top:30px;width:150px;padding:6px 0;text-align:center;font-size:0.95em;color:#888;border-radius:2px}

.blog-back:hover{margin-left:-10px;border-radius:15px 0 0 15px;color:#333;}

.post-share{margin:4px auto 2.2%;text-align:center;width:100%;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALv3r37zwjjgzhCQkKMYAEYB8RmROaABAAS4A/OBaAi1gAAAABJRU5ErkJggg==) repeat;padding:9px 0 5px;border-top:1px dotted #d5d5d5;border-radius:0 0 3px 3px}
.post-share .hn iframe{vertical-align:top;margin:-8px 0 0;padding:0}
.post-share li{vertical-align:top;}
.post-share .fb{margin-right:4%}

.post-tagline{text-transform:none;font-style:italic;color:#777;font-family: Georgia,Times,serif;font-size:1.3em}
#blog-index h3{font-style:italic;color:#666;font-family: Georgia,Times,serif;}
.row ul{margin-left:4%;}
.row li{margin-bottom:1%}

code,pre{padding:0 3px 2px;font-family:Menlo,Monaco,"Courier New",monospace;font-size:12px;color:#333333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
code{padding:3px 4px;color:#d14;background-color:#f7f7f9;border:1px solid #e1e1e8;}
pre{display:block;padding:8.5px;margin:0 auto 9px;font-size:12px;line-height:18px;background-color:#f5f5f5;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;white-space:pre;white-space:pre-wrap;word-break:break-all;word-wrap:break-word;width:95%}pre.prettyprint{margin-bottom:18px;}
pre code{padding:0;color:inherit;background-color:transparent;border:0;}
.pre-scrollable{max-height:340px;overflow-y:scroll;}


.pagination{height:36px;margin:18px 0;text-align:center}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{height:34px;float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0;}
.pagination a:hover,.pagination .active a{background-color:#f5f5f5;}
.pagination .active a{color:#999999;cursor:default;}
.pagination .disabled a,.pagination .disabled a:hover{color:#999999;background-color:transparent;cursor:default;}
.pagination li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}


/*FEATURED*/
#openf{width:100%;margin:1.5% auto 4.5%;text-align:center}
#openf ul{font-size:0.85em;}
#openf li{padding:5px 15px;}

.opa{border-radius:15px 0 0 15px;color:#777}

.opb{cursor:pointer;border-radius:0 15px 15px 0;background-color:#2584d4;color:#fff;text-shadow:0 1px 1px #777}

.opb:hover{background-color:#D54432;}
#featured{
		display:none;
		position:fixed;
		z-index:9999;
		height:100%;
		width:100%;
		background-color:rgba(0,0,0,0.9);
		top:0;
		text-align:center;
		color:#f1f1f1
		}
#featured iframe{
	margin-top:6%;
	border:10px solid #000;
	border-radius:5px 5px 0 0;
	}
	
#featured i{color:#aaa}

#vide0 h4{width:820px;height:auto;margin:-5px auto 0;background:#000;padding:4px 0 10px;border-radius:0 0 5px 5px;font:0.9em Helvetica,Arial,sans-serif}
	
#closef{width:100px;height:30px;line-height:30px;background-color:#2584d4;margin:0 auto;border-radius:0 0 10px 10px;cursor:pointer;}
#closef:hover{height:40px;line-height:50px;color:#fff;background-color:#D54432}	#closef i{color:#fff}

/********************************************** Mobile Screens ***************************************/

@media only screen and (max-width: 48.5em) {

.post-details{margin:0 0 4% 0;padding:0}
.post-read{float:none;text-align:center;display:block;width:100%;margin:20px 0}
.post-read a{border:1px solid #d5d5d5}
.post-read a:hover{border:1px solid #999}

}
