<div class="page-header"><h1><span itemprop="name">{{ page.title }}</span></h1><h2 class="post-tagline">{{ page.tagline }}</h2></div>
{% include JB/sharing %}

<div class="date_tags"><span class="mob">Published on </span><span itemprop="datePublished" content="{{ page.date | date: '%Y' }}-{{ page.date | date: '%m' }}-{{ page.date | date: '%d' }}">{{ page.date | date: '%B' }} {{ page.date | date: '%e' }}, {{ page.date | date: '%Y' }}</span>
{% unless page.tags == empty %}
    <ul class="tag_box ulno">
    <li>Tags: </li>
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
</div>

<div class="clear"></div>

<div class="row">
  <div class="span8">
    {{ content }}
    
    <!--
    <div class="sep top"></div>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}"><i class="icon-chevron-left space"></i>Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next <i class="icon-chevron-right"></i></a></li>
      {% else %}
        <li class="next disabled"><a>Next <i class="icon-chevron-right"></i></a>
      {% endif %}
      </ul>
    </div>
   <div class="sep bottom"></div>
   -->
   <a class="none" itemprop="url" href="{{ page.url }}">{{ page.url }}</a>
   <p class="comm">Like it? Please share. Also feel free to leave your comments below.</p>
    {% include JB/comments %}
  </div>

</div>
